%wrapper {
  width: 100%;
  max-width: 42rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

%card {
  background-color: #fff;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 8px rgba(#000, 0.2);
  margin-bottom: 0.5rem;
  @include bp-mediumup {
    padding: 1.5rem 2rem;
  }
}

@mixin hover-style {
  transform: scale(1.02);
  box-shadow: 0 2px 8px rgba(#000, 0.1);
}

@mixin theme-color{
  @each $theme, $color in $color-theme {
    &.-#{$theme} {
      color: $color;
    }
  }
}

@mixin theme-bgcolor{
  @each $theme, $color in $color-theme {
    &.-#{$theme} {
      background-color: $color;
    }
  }
}

@mixin theme-icon{
  @each $theme, $color in $color-theme {
    &.-#{$theme} {
      @include icon($theme);
    }
  }
}
