%card {
  background-color: #fff;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 8px rgba(#000, 0.2);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  @include bp-mediumup {
    padding: 2rem;
  }
}

@mixin theme-color{
  @each $theme, $color in $color-theme {
    &.-#{$theme} {
      color: $color;
    }
  }
}

@mixin theme-bgcolor{
  @each $theme, $color in $color-theme {
    &.-#{$theme} {
      background-color: $color;
    }
  }
}

@mixin theme-icon{
  @each $theme, $color in $color-theme {
    &.-#{$theme} {
      @include icon($theme);
    }
  }
}
