{% load pauta_participativa_tags staticfiles %}
{% randomize_queryset object.groups.all as groups %}
<div class="agenda-block JS-agenda" data-agenda-id="{{object.id}}">

  <div class="theme-navigation JS-theme-navigation">
    <nav class="JS-tab-navigation">
      {% for group in groups %}
        {% with groups|first as first_group %}
          <a class="-{{group.theme.slug}} {% if group == first_group %}-active{% endif %} JS-tab-item" data-group-id="{{group.id}}">
            <span>{{group.theme.name}}</span>
          </a>
        {% endwith %}
      {% endfor %}
      <a class="item JS-tab-item" data-group-id="finish">
        <span>Concluir</span>
      </a>
    </nav>
  </div>

  <div class="interaction-block">
    {% for group in groups %}
      {% include "components/group-block.html" with groups=group last_group=groups|last first_group=groups|first %}
    {% endfor %}

    <div class="group-block -review JS-votes-review JS-group" data-group-id="finish">
      <div class="wrapper">

      <div class="title">Concluir</div>

       <div class="note-message">
         <p class="text">Confira os seus votos.</p>
         <p class="text">Depois de enviar, eles não poderão ser alterados!</p>
       </div>

        <div class="controls">
          <button class="button -text JS-prev-group-btn JS-navigation-btn">Voltar</button>
        </div>

        {% for group in groups %}
          {% include "components/review-card.html" with group=group %}
        {% endfor %}

        <form action="" class="submit JS-confirm-votes">
          {% csrf_token %}
          <div class="g-recaptcha" data-sitekey="{% recaptcha_site_key %}"></div>
          <button class="button -dark -large JS-submit-votes-btn">Enviar</button>
        </form>
      </div>
    </div>
  </div>

<div class="modal-box JS-modal">
  <div class="modal">
    <div class="tutorial -active JS-tutorial">
      <h3 class="title">Bem-vindo!</h3>
      <p>Esta pauta contém {{ object.groups.count }} tema(s):</p>
      <ul class="themes">
        {% for group in object.groups.all %}
          <li class="theme-tag -{{group.theme.slug}}">{{group.theme.name}}</li>
        {% endfor %}
      </ul>
      <p>Você não precisa votar em todos os temas.</p>
      <button class="button -dark JS-modal-next">Próximo</button>
    </div>
    <div class="tutorial JS-tutorial">
      <h3 class="title">Usando seus votos</h3>
      <p>Em cada tema, você pode votar para:</p>
      <p>
        <strong>
          <span>incluir até 2 projetos na pauta</span>
        </strong>
        <br>
        <strong>
          <span>retirar 1 projeto da pauta</span>
        </strong>
      </p>
      <p>Para <strong>retirar</strong> um projeto da pauta, você <strong>precisa incluir</strong> outros dois.</p>
      <button class="button -dark JS-modal-close">Entendi</button>
    </div>
  </div>

</div>

