{% load pauta_participativa_tags %}

<div class="agenda-block JS-agenda" data-agenda-id="{{object.id}}">
  <img class="logo" src="" alt="">
  <h1>{{object.title}}</h1>

  {% if not user.is_authenticated %}
    <p>Você precisa estar logado no sistema para votar.</p>
  {% endif %}

  <div class="interaction-block">
    {% for group in agenda.groups.all %}
      {% include "components/group-block.html" with groups=group first=agenda.groups.all|first %}
    {% endfor %}

    {% if user.is_authenticated %}
      <div class="group-block JS-votes-review JS-group" data-group-id="finish">
        {% for group in agenda.groups.all %}
          <div class="JS-group-review" data-group-id="{{group.id}}">
            <h2>{{group.theme.name}}</h2>
            <ul class="JS-voted-list"></ul>
          </div>
        {% endfor %}

        <form action="" class="JS-confirm-votes">
          {% csrf_token %}
          <div class="g-recaptcha" data-sitekey="{% recaptcha_site_key %}"></div>
          <button class="JS-submit-votes-btn">Confirmar</button>
        </form>
      </div>
    {% endif %}
  </div>

  <nav class="tab-navigation JS-tab-navigation">
    {% for group in agenda.groups.all %}
      {% with agenda.groups.all|first as first_group %}
        <a class="item {% if group == first_group %}-active{% endif %} JS-tab-item" data-group-id="{{group.id}}">
          {{group.theme.name}}
        </a>
      {% endwith %}
    {% endfor %}
    <a class="item JS-tab-item" data-group-id="finish">
      Finalizar
    </a>
  </nav>

</div>