{% load pauta_participativa_tags staticfiles %}

<div class="agenda-block JS-agenda" data-agenda-id="{{object.id}}">

  {% if not user.is_authenticated %}
    <p>Você precisa estar logado no sistema para votar.</p>
  {% endif %}

  <div class="interaction-block">
    {% for group in agenda.groups.all %}
      {% include "components/group-block.html" with groups=group last_group=agenda.groups.last first_group=agenda.groups.first %}
    {% endfor %}

    {% if user.is_authenticated %}
      <div class="group-block JS-votes-review JS-group" data-group-id="finish">
        <div class="wrapper">

         <p class="description">Confira os seus votos. <br> Depois de enviar, eles não poderão ser alterados!</p>

          {% for group in agenda.groups.all %}
            {% include "components/review-card.html" with group=group %}
          {% endfor %}

          <form action="" class="submit JS-confirm-votes">
            {% csrf_token %}
            <div class="g-recaptcha" data-sitekey="{% recaptcha_site_key %}"></div>
            <button class="button JS-submit-votes-btn">Confirmar</button>
          </form>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="theme-navigation">
    <nav class="JS-tab-navigation">
      {% for group in agenda.groups.all %}
        {% with agenda.groups.all|first as first_group %}
          <a class="-{{group.theme.slug}} {% if group == first_group %}-active{% endif %} JS-tab-item" data-group-id="{{group.id}}">
            {{group.theme.name}}
          </a>
        {% endwith %}
      {% endfor %}
      <a class="item JS-tab-item" data-group-id="finish">
        Finalizar
      </a>
    </nav>
  </div>

  <div class="error-message JS-error-message">
    <p>Para enviar um voto negativo é necessário que haja dois votos positivos</p>
    <a class="close JS-error-close"></a>
  </div>

</div>