<div class="group-block JS-group" data-group-id="{{group.id}}" data-group-theme>

  {% if user.is_authenticated %}
    <div class="remaining-votes">
      <span class="text">Votos disponíveis:</span>

      <div class="counters">
        <span class="counter -upvote"></span>
        <span class="counter -upvote"></span>
        <span class="counter -downvote"></span>
      </div>
    </div>
  {% endif %}

  <form class="group-form JS-group-form" action="">
    <ul class="card-list">
      {% for proposal in group.proposals.all %}
        {% include "components/card-item.html" with proposal=proposal %}
      {% endfor %}
    </ul>
  </form>

  <div class="controls-block">
    <button class="button -text">Anterior</button>
    <button class="button">Pular</button>
    <button class="button JS-next-group">Próximo</button>

    {% if user.is_authenticated %}
      <button class="button JS-send-votes">Enviar</button>
    {% endif %}
  </div>

</div>