<div class="group-block -politica {% ifequal group first_group %}-active{% endifequal %} JS-group" data-group-id="{{group.id}}" data-group-theme>
  <div class="wrapper">

    <h2 class="title">{{group.theme.name}}</h2>

    {% if user.is_authenticated %}
      <div class="remaining-votes JS-remaining-votes">
        <span class="text">Votos disponíveis:</span>

        <div class="counters">
          <span class="counter -upvote JS-vote-counter"></span>
          <span class="counter -upvote JS-vote-counter"></span>
          <span class="counter -downvote JS-vote-counter"></span>
        </div>
      </div>
    {% endif %}

    <form class="group-form JS-group-form" action="">
      <ul class="proposal-list">
        {% for proposal in group.proposals.all %}
          {% include "components/proposal-card.html" with proposal=proposal %}
        {% endfor %}
      </ul>
    </form>

    <div class="controls">
      {% ifnotequal group first_group %}
        <button class="button -text JS-prev-group-btn">Anterior</button>
      {% endifnotequal %}
      <button class="button JS-next-group-btn {% ifequal group last_group %}JS-populate-review{% endifequal %}">Pular</button>
    </div>
  </div>
</div>