{% load pauta_participativa_tags %}

<div class="group-block -{{group.theme.slug}} {% ifequal group first_group %}-active{% endifequal %} JS-group" data-group-id="{{group.id}}" data-group-theme>

  {% if user.is_authenticated %}
    <div class="remaining-votes JS-remaining-votes">
      <div class="wrapper">
        <span class="counter -upvote JS-vote-counter"></span>
        <span class="counter -upvote JS-vote-counter"></span>
        <span class="counter -downvote JS-vote-counter"></span>
      </div>
    </div>
  {% endif %}

  <div class="help-button">
    <div class="help JS-help-button"></div>
  </div>

  <div class="wrapper">

    <h2 class="title -{{group.theme.slug}}">{{group.theme.name}}</h2>

    {% if not user.is_authenticated %}
      <p>Você precisa estar logado no sistema para votar.</p>
    {% endif %}

    {% include "components/navigation-controls.html" with group=group first_group=first_group %}

    <form class="group-form JS-group-form" action="">
      <ul class="proposal-list">
        {% for proposal in group.proposals.all|randomize %}
          {% include "components/proposal-card.html" with proposal=proposal %}
        {% endfor %}
      </ul>
    </form>

    {% include "components/navigation-controls.html" with group=group first_group=first_group %}

  </div>
</div>