<li class="proposal-card JS-proposal" data-proposal-id="{{proposal.id}}">

  <h3 class="title">{{proposal.title|lower|capfirst}}</h3>

  <div class="undertitle">
    <p class="pl">{{proposal.proposal_type.initals}} {{proposal.number}}/{{proposal.year}}</p>

    <a class="more">Ver mais</a>
  </div>

  <div class="moreinfo">
    <p class="description">{{proposal.description}}</p>
    <a class="link">Ler na íntegra</a>
  </div>

  {% if user.is_authenticated %}
    <div class="votes">
      <div class="vote-button -upvote JS-tickbox">
        <input class="JS-vote-input" id="group{{group.id}}-upvote{{proposal.id}}" type="checkbox" name="{{proposal.id}}" value="upvote" data-vote-type="upvote">
        <label for="group{{group.id}}-upvote{{proposal.id}}"></label>
      </div>
      <div class="vote-button -downvote JS-tickbox">
        <input class="JS-vote-input" id="group{{group.id}}-downvote{{proposal.id}}" type="checkbox" name="{{proposal.id}}" value="downvote" data-vote-type="downvote">
        <label for="group{{group.id}}-downvote{{proposal.id}}"></label>
      </div>
    </div>
  {% endif %}

</li>