<div class="theme-block JS-group" data-group-id="{{group.id}}" data-group-theme>
  <h2 class="theme">{{group.theme.name}}</h2>

  {% if user.is_authenticated %}
    <div class="remaining-votes">
      <span class="text">Votos restantes:</span>

      <div class="counters">
        <div class="counter">
          <span class="number JS-upvote-counter">2</span>
          <i class="icon icon-lorem"></i>
        </div>

        <div class="counter">
          <span class="number JS-downvote-counter">1</span>
          <i class="icon icon-lorem"></i>
        </div>
      </div>
    </div>
  {% endif %}

  <form class="theme-form JS-group-form" action="">
    <ul class="card-list">
      {% for proposal in group.proposals.all %}
        {% include "components/card-item.html" with proposal=proposal %}
      {% endfor %}
    </ul>
  </form>
</div> item