
{% load compress %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="Pauta Participativa" />
    <meta property="twitter:description" content="Escolha os projetos que irão para a {{object.title}}" />
    <meta property="twitter:site" content="@edemocracia" />
    <meta property="twitter:creator" content="@edemocracia" />
    <meta property="twitter:image" content="{{request.scheme}}://{{domain}}{% static 'images/share-logo.png' %}" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="Pauta Participativa" />
    <meta property="og:site_name" content="Pauta Participativa" />
    <meta property="og:description" content="Escolha os projetos que irão para a {{object.title}}" />
    <meta property="og:image" content="{{request.scheme}}://{{domain}}{% static 'images/share-logo.png' %}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:type" content="website" />
  </head>

  <body>
  </body>
</html>