.agenda-item {
  @extend %card;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  padding-right: 6.5rem;
  color: hsl(0, 0%, 20%);

  &:hover {
    background-color: hsl(0, 0%, 97%);
  }
  &:active {
    background-color: hsl(0, 0%, 94%);
  }

  &.-closed {
    > .title {
      color: hsl(0, 0%, 40%);
      font-style: italic;
      &::after {
        content: 'Encerrada';
        color: $color-negative;
        font-size: $font-size-deci;
        text-transform: uppercase;
        margin-left: 0.5rem;
      }
    }
  }

  > .title {
    font-size: $font-size-hecto;
    margin-bottom: 1rem;
  }

  > .time {
    margin-bottom: 1.25rem;
    color: hsl(0, 0%, 40%);
  }

  > .themes {
    display: flex;
    flex-wrap: wrap;
  }

  > .action {
    @include icon('angle-right', after);
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: $color-positive;
    text-transform: uppercase;
    padding-right: 2rem;
    width: 6rem;
    text-align: right;
    font-weight: 600;

    &::after {
      position: absolute;
      font-size: 2rem;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }

}