.agenda-header {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(#000, 0.2);
  height: $size-header;
  position: relative;
  padding-right: calc(0.5rem + 4vw);
  padding-left: calc(0.5rem + 4vw);
  overflow: hidden;

  > .back {
    @include icon('chevron-left');
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-deca;
    width: 3rem;
    height: 3rem;
    color: $color-brand;
    margin-right: 0.2rem;
    text-decoration: none;
  }

  > .icon {
    height: 2em;
    margin-right: 1.2rem;
  }

  > .title {
    font-size: $font-size-deca;
    color: hsl(0, 0%, 50%);
  }
}