.group-block {
  background-color: $color-brand;
  @include theme-bgcolor;
  display: none;
  padding-bottom: $size-footer;
  min-height: calc( 100vh - #{$size-header});

  &.-active {
    display: block;
  }

  @each $theme, $color in $color-theme {
    &.-#{$theme} > .wrapper > .title {
      @include icon($theme);
    }
  }

  > .wrapper {
    max-width: 42rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    > .controls {
      display: flex;
      justify-content: space-between;
      align-items: right;
      margin-top: 1.75rem;
      margin-bottom: 2rem;
    }
  }

}