.group-block {
  display: none;
  padding-top: calc(1.5rem + #{$size-navigation});
  padding-bottom: 2rem;
  min-height: calc( 100vh - #{$size-header});

  &.-active {
    display: block;
  }

  > .wrapper {
    @extend %wrapper;
    position: relative;
    display: flex;
    flex-direction: column;

    > .title {
      // @include theme-icon;
      @include theme-color;
      display: flex;
      flex-align: center;
      justify-content: center
    }

    > .controls,
    > .submit {
      display: flex;
      align-items: right;
      margin-bottom: 1.5rem;
    }

    > .controls {
      justify-content: space-between;
      > .button:last-child {
        margin-left: auto;
      }
    }

    > .submit {
      flex-direction: column;
    }

  }

  @include bp-mediumdown {
    &:not(.-review) {
      > .wrapper {
        padding-right: 2.5rem;
      }
    }
  }
}
