.group-block {
  display: none;
  padding-top: $size-navigation;
  padding-bottom: 2rem;
  min-height: calc( 100vh - #{$size-header});

  &.-active {
    display: block;
  }

  > .wrapper {
    @extend %wrapper;
    padding-bottom: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;

    > .title {
      background-color: $color-brand;
      @include theme-bgcolor;
      color: #fff;
      font-size: $font-size-hecto;
      font-weight: 500;
      display: flex;
      flex-align: center;
      justify-content: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    > .controls,
    > .submit {
      display: flex;
      align-items: right;
      margin-bottom: 1.5rem;
    }

    > .controls {
      justify-content: space-between;

      > .button {
        &:last-child {
          margin-left: auto;
        }

        @at-root .-review#{&} {
          margin-left: 0;
        }
      }
    }

    > .submit {
      flex-direction: column;
    }

  }

  @include bp-mediumdown {
    &:not(.-review) {
      > .wrapper {
        padding-right: 2.5rem;
      }
    }
  }
}
