.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;

  @include bp-mediumup {
    flex: 0 1 50%;
    height: 100vh;
  }

  > .logo {
    width: 60%;
    margin-bottom: 3rem;
  }

  > .description {
    width: calc(70% + 4rem);
    margin-bottom: 1rem;
    font-size: $font-size-base;
    line-height: 1.2;
    font-weight: 500;
    color: hsl(0, 0%, 30%);
    max-width: 45rem;
  }
}