.method-page {
  padding-top: 5rem;
  padding-bottom: 5rem;
  > .wrapper {
    @extend %wrapper;
    > h1 {
      margin-top: 3rem;
    }
    > p {
      margin-top: 1.5rem;
      line-height: 1.4;
      font-variant-numeric: oldstyle-nums;
      font-feature-settings: "liga1" on;
      > a {
        color: $color-link;
        &:hover { color: mix(#000, $color-link, 20%); }
      }
    }
  }
}