.proposal-result {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  &:first-child { padding-top: 0.25rem; }
  &:last-child { border-bottom: none; }

  > .info {
    > .title,
    > .pl {
      margin-bottom: 0.5rem;
    }
    > .pl {
      color: hsl(0, 0%, 60%);
    }
  }

}