.proposal-result {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  &:last-child { border-bottom: none; }

  > .title,
  > .pl {
    margin-bottom: 0.5rem;
  }

  > .pl {
    color: hsl(0, 0%, 60%);
  }

  > .votes {
    display: flex;

    > .count {
      font-weight: 600;
      font-size: $font-size-deci;
      margin-right: 0.75rem;
      display: flex;
      align-items: center;
      &.-upvotes {
        color: $color-positive;
        @include icon('check', after);
      }
      &.-downvotes {
        color: $color-negative;
        @include icon('times', after);
      }
      &::after {
        margin-left: 0.25rem;
      }
    }

  }

}