.proposal-card {
  @extend %card;

  > .title {
    margin-bottom: 0.5rem;
    font-size: $font-size-base;
  }

  > .undertitle {
    display: flex;
    flex-wrap: wrap;

    > .pl {
      margin-bottom: 0.5rem;
      margin-right: auto;
      color: hsl(0, 0%, 60%);
    }

    > .more {
      @include icon('caret-down', after);
      margin-bottom: 0.5rem;
      color: $color-positive;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      &::before { content: 'Ver mais'; }
      &::after {
        display: inline-block;
        transition: transform 0.3s ease;
      }
      &:hover { border-bottom: 1px solid currentColor; }
      &.-active::before { content: 'Ver menos'; }
      &.-active::after { transform: rotate(-180deg); }
    }
  }

  > .moreinfo {
    margin-bottom: 0.5rem;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    display: block;
    overflow: hidden;
    width: 100%;
    &.-show {
      max-height: 80vh;
    }
  }

  > .votes {
    width: 100%;
    display: flex;
  }

}