.result-page {
  > .wrapper {
    @extend %wrapper;
    padding-top: 1rem;
    > .title {
      margin-bottom: 1rem;
    }

    > .description {
      font-size: $font-size-deca;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }
}