.review-list {
  margin-top: 1rem;
  margin-bottom: 2rem;
  > .item {
    color: hsl(0, 0%, 50%);
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    position: relative;
    &.-upvote {
      color: $color-positive;
      @include icon('plus');
    }
    &.-downvote {
      color: $color-negative;
      @include icon('minus');
    }
    &::before {
      position: absolute;
      left: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
    > .title { margin-bottom: 0.5rem; }
    > .pl { font-size: $font-size-deci; }
  }
}