.theme-navigation {
  background-color: #fff;

  position: absolute;
  top: 6rem;

  height: $size-navigation;
  display: flex;
  justify-content: center;

  width: 100%;

  z-index: 8;

  transition: box-shadow 0.3s ease;

  &.-fixed {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 16px 0 rgba(#000, 0.1),
                0 1px 0 0 rgba(#000, 0.1);
  }

  > nav {
    overflow-x: auto;
    display: flex;

    > a {
      @include bp-smallonly { min-width: 22vw; }
      @include theme-color;
      @include theme-icon;
      @include icon('flag-checkered');

      flex: 1;
      width: 8rem;
      cursor: pointer;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: $font-size-mili;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 500;
      color: $color-brand;
      z-index: 1;
      overflow: hidden;
      position: relative;
      
      transition: all 0.2s ease;

      &::before {
        font-size: $font-size-deca;
        transition: all 0.2s ease;
        transform-origin: 50% 0;
      }

      &::after {
        content: '';
        width: 100%;
        height: 6px;
        position: absolute;
        bottom: 0;
        background-color: transparent;
        transition: background-color 0.6s ease;
      }

      &:hover, &:active { background-color: hsl(0, 0%, 95%); }

      &.-active {
        cursor: default;
        z-index: 2;
        > span {
          color: transparent;
        }

        &::before {
          transform: scale(1.4);
        }

        &::after {
          background-color: $color-brand;
        }
        @each $theme, $color in $color-theme {
          &.-#{$theme}::after {
            background-color: $color;
          }
        }

        @at-root .-fixed#{&} {
          span {
            color: inherit;
          }
          &::before {
            transform: scale(1);
          }
        }

      }

      &.-disabled {
        opacity: 0.4;
      }

    }
  }


}