// to-do: make modifiers dynamic

.theme-tag {
  padding: 2px 6px;
  border: 1px solid currentColor;
  display: inline;

  &::before { margin-right: 4px; }

  @each $theme, $color in $color-theme {
    &.-#{$theme} {
      color: $color;
      @include icon($theme);
    }
  }

}
