.theme-navigation {
  background-color: #fff;
  
  position: fixed;
  bottom: 0;
  
  height: 4rem;
  display: flex;
  justify-content: center;

  width: 100%;

  box-shadow: 0 1px 0 0 hsl(0, 0%, 80%) inset;

  > nav {
    overflow-x: scroll;
    display: flex;

    > a {
      flex: 1;
      width: 8rem;
      border-top: 1px solid hsl(0, 0%, 80%);
      cursor: pointer;
      text-align: center;
      display: flex;
      flex-direction: column;
      @include icon('flag-checkered');

      &:hover { background-color: hsl(0, 0%, 95%); }

      @include bp-smallonly { min-width: 22vw; }

      @each $theme, $color in $color-theme {
        &.-#{$theme} {
          color: $color;
          @include icon($theme);
        }
      }

    }
  }


}