.theme-tag {
  display: inline;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  display: inline-flex;
  align-items: center;
  flex: 0 1 auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: $font-size-mili;

  &::before { margin-right: 4px; }

  @include theme-color;
  @include theme-icon;

}
