.votes {
  width: 100%;
  display: flex;
}

.vote-button {
  margin: 1rem;
  cursor: pointer;

  &.-upvote {
    color: $color-positive;
    > label { @include icon($icon-check); }
  }
  &.-downvote {
    color: $color-negative;
    > label { @include icon($icon-times); }
  }

  & > label {
    color: inherit;
    border: 1px solid currentColor;
    text-align: center;
  }

  & > input {
    display: none;
  }

  & > input:checked + label {
    background-color: currentColor;
    &::before { color: #fff; }
  }

}