.vote-button {
  flex-grow: 1;

  &:first-child {
    margin-right: 0.5rem;
  }
  &:last-child {
    margin-left: 0.5rem;
  }

  &.-upvote {
    color: $color-positive;
    > label { @include icon('check'); }
  }
  &.-downvote {
    color: $color-negative;
    > label { @include icon('times'); }
  }

  & > label {
    cursor: pointer;
    color: inherit;
    border: 1px solid currentColor;
    text-align: center;
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 2px 8px rgba(#000, 0.1);
    }
  }

  & > input {
    display: none;
  }

  & > input:checked + label {
    background-color: currentColor;
    &::before { color: #fff; }
  }

  & > input:disabled + label {
    color: hsl(0, 0%, 60%);
    background-color: rgba(#000, 0.1);
    pointer-events: none;
  }

}