{% extends "base.html" %}
{% load pauta_participativa_tags staticfiles %}

{% block content %}

  <div class="agenda-header JS-agenda-header">
    <a class="back" role="button" href="../"></a>
    <img class="icon" src="{% static 'images/logo-icon.svg' %}" alt="Ícone da logo do Pauta participativa">
    <h1 class="title">Pauta de Agosto</h1>
  </div>

  {% if user|already_voted:object or object.is_closed %}
    {% include "components/results.html" with object=object %}
  {% else %}
    {% include "components/agenda-block.html" with object=object %}
  {% endif %}

{% endblock content %}

{% block modal %}
  <div class="tutorial1 -active JS-tutorial">
    <h3 class="title">Bem vindo!</h3>
    <p>Você pode marcar mais de um projeto em cada tema</p>
    <p>
      <strong>
        <span>Votos a favor: até 2</span>
      </strong>
      <br>
      <strong>
        <span>Votos contra: até 1</span>
      </strong>
    </p>
    <p>Você não precisa votar em todos os temas, ou em todos projetos de cada tema</p>
    <button class="button -dark JS-modal-next">Próximo</button>
  </div>
  <div class="tutorial2 JS-tutorial">
    <h3 class="title">Votos Contra</h3>
    <p>Para marcar <strong>um voto contra</strong>, você precisa marcar <strong>dois votos a favor</strong></p>
    <button class="button -dark JS-modal-close">Entendi</button>
  </div>
{% endblock modal %}