{% extends "base.html" %}
{% load pauta_participativa_tags staticfiles %}

{% block metatags %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="{{object.title}}" />
  <meta property="twitter:site" content="@edemocracia" />
  <meta property="twitter:creator" content="@edemocracia" />
  <meta property="twitter:image" content="{{request.scheme}}://{{domain}}{% static 'images/share-image-twitter.jpg' %}" />

  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{object.title}}" />
  <meta property="og:site_name" content="Pauta Participativa" />

  {% if object.is_closed %}
    <meta property="og:description" content="Veja os projetos que a população escolheu para serem votados pela Câmara dos Deputados." />
    <meta property="twitter:description" content="Veja os projetos que a população escolheu para serem votados pela Câmara dos Deputados." />
  {% else %}
    <meta property="og:description" content="Ajude a Câmara dos Deputados a escolher os projetos que serão votados. Nesta edição, você pode selecionar propostas dos temas {% for group in object.groups.all %}{% if forloop.first %}{{group.theme.name|title}}{% elif forloop.last %} e {{group.theme.name|title}}{% else %}, {{group.theme.name|title}}{% endif %}{% endfor %}." />
    <meta property="twitter:description" content="Ajude a Câmara dos Deputados a escolher os projetos que serão votados. Nesta edição, você pode selecionar propostas dos temas {% for group in object.groups.all %}{% if forloop.first %}{{group.theme.name|title}}{% elif forloop.last %} e {{group.theme.name|title}}{% else %}, {{group.theme.name|title}}{% endif %}{% endfor %}." />
  {% endif %}

  <meta property="og:image" content="{{request.scheme}}://{{domain}}{% static 'images/share-image-facebook.jpg' %}" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:width" content="560" />
  <meta property="og:image:height" content="292" />
  <meta property="og:type" content="website" />
{% endblock metatags %}

{% block content %}

  <div class="agenda-header JS-agenda-header">
    <div class="wrapper">
      <a class="back" role="button" href="../"></a>
      <h1 class="title">{{agenda.title}}</h1>
    </div>
  </div>

  {% if user|already_voted:object or object.is_closed %}
    {% include "components/results.html" with object=object %}
  {% else %}
    {% include "components/agenda-block.html" with object=object %}
  {% endif %}

{% endblock content %}
