{% extends "base.html" %}

{% block content %}

  <section class="landing-section">
    <img class="logo" src="" alt="Logomarca do Pauta Participativa">
    <p class="description">{{object.description}}</p>
    <p>A Pauta Participativa é uma forma de você ajudar a Câmara a definir a prioridade de votações dos projetos. Para cada tema, você pode escolher até DOIS projetos que devam ser votados pelo plenário e UM que você ache que não deva ser colocado em votação.</p>
    <p>Ao final do período de consulta (15 dias), a Câmara colocará em votação os projetos de cada tema que tenham obtido o maior saldo positivo de votos, ou seja, votos favoráveis menos votos contrários. Participe!</p>
  </section>

  <section class="agendas-section">

    <h1 class="open-agendas">Pautas Abertas:</h1>

    <ul class="agenda-list">
      {% for agenda in object_list %}

        <li class="agenda-item">
          <h2 class="title">{{agenda.title}}</h2>
          <div class="time-frame">
            <span class="begin">{{agenda.initial_date}}</span>
            <span class="end">{{agenda.end_date}}</span>
          </div>
          <ul class="themes">
            <li class="theme-tag -saude">Saúde</li>
            <li class="theme-tag -seguranca">Segurança</li>
            <li class="theme-tag -transporte-e-transito">Transporte</li>
          </ul>
          <a class="button" href="{% url 'agenda' pk=agenda.id %}">Votar</a>
        </li>

      {% endfor %}
    </ul>

  </section>

{% endblock content %}