{% extends "base.html" %}
{% load staticfiles pauta_participativa_tags %}

{% block content %}

  <div class="home-page">

    <section class="hero-section">
      <img class="logo" src="{% static 'images/logo-full.svg' %}" alt="Marca da Pauta Participativa">
      <p class="description">A Pauta Participativa é uma forma de você ajudar a Câmara a definir a prioridade de votações dos projetos.</p>
      <p class="description">Ao final do período de consulta (2 semanas), a Câmara colocará em pauta os projetos de cada tema que tenham obtido o maior saldo positivo de votos, ou seja, votos favoráveis menos votos contrários. Participe!</p>
      <p class="description"><a href="{% url 'method' %}">Acesse aqui</a> para entender a metodologia utilizada.</p>
      <a class="cd" href="http://www2.camara.leg.br/">
        <img src="{% static 'images/marca-cd.svg' %}" alt="Marca da Câmara do Deputados">
      </a>
    </section>

    <section class="agenda-list">

        {% for agenda in object_list %}

        <a class="agenda-item {% if agenda.is_closed %}-closed{% elif not request.user.is_authenticated %}JS-unlogged-user{% endif %}" href="{% url 'agenda' pk=agenda.id %}">
          
          <h2 class="title">{{agenda.title}}</h2>

          {% if agenda.is_closed %}
            <p class="time">Votação encerrada dia {{agenda.end_date}}</p>
          {% else %}
            <p class="time">Votação aberta até dia {{agenda.end_date}}</p>
          {% endif %}

          {% if request.user|already_voted:agenda %}
            <p class="voted">Você já votou nesta pauta</p>
          {% endif %}

          <ul class="themes">
            {% for group in agenda.groups.all %}
              <li class="theme-tag -{{group.theme.slug}}">{{group.theme.name}}</li>
            {% endfor %}
          </ul>

          {% if agenda.is_closed or request.user|already_voted:agenda %}
            <h4 class="action">Ver votos</h4>
          {% else %}
            <h4 class="action">Votar</h4>
          {% endif %}

        </a>

      {% endfor %}

    </section>
  </div>

{% endblock content %}