$color-positive: #519ad5;
$color-negative: #d55c4d;

$color-brand: #3b3970;

// Social colors
$color-facebook: #3b5998;
$color-twitter: #00ACED;
$color-whatsapp: #25D366;

// e-Democracia default theme colors

$color-theme: (
  comercio-consumidor:          hsl(000, 45%, 55%),
  seguranca:                    hsl(012, 45%, 55%),
  politica:                     hsl(024, 45%, 55%),
  familia:                      hsl(036, 45%, 55%),
  meio-ambiente:                hsl(048, 45%, 55%),
  documento:                    hsl(060, 45%, 55%),
  transporte-e-transito:        hsl(072, 45%, 55%),
  industria:                    hsl(084, 45%, 55%),
  assistencia-social:           hsl(096, 45%, 55%),
  turismo:                      hsl(108, 45%, 55%),
  saude:                        hsl(120, 45%, 55%),
  institucional:                hsl(132, 45%, 55%),
  cidades:                      hsl(144, 45%, 55%),
  educacao:                     hsl(156, 45%, 55%),
  economia:                     hsl(168, 45%, 55%),
  esportes:                     hsl(180, 45%, 55%),
  reforma-politica:             hsl(192, 45%, 55%),
  trabalho:                     hsl(204, 45%, 55%),
  adm-publica:                  hsl(216, 45%, 55%),
  agropecuaria:                 hsl(228, 45%, 55%),
  previdencia:                  hsl(240, 45%, 55%),
  comunicacao:                  hsl(252, 45%, 55%),
  relacoes-exteriores:          hsl(264, 45%, 55%),
  direito-e-justica:            hsl(276, 45%, 55%),
  participacao-e-transparencia: hsl(288, 45%, 55%),
  ciencia:                      hsl(300, 45%, 55%),
  direitos-humanos:             hsl(312, 45%, 55%),
  cultura:                      hsl(324, 45%, 55%)
);

// Old colors
// $color-theme: (
//   comercio-consumidor:          #ef4545,
//   seguranca:                    #e6413d,
//   politica:                     #b0614f,
//   familia:                      #f39a35,
//   meio-ambiente:                #c5db9b,
//   documento:                    #b1b1ba,
//   transporte-e-transito:        #71706a,
//   industria:                    #544e4e,
//   assistencia-social:           #5d7f1a,
//   turismo:                      #707a66,
//   saude:                        #3c864a,
//   institucional:                #22a23d,
//   cidades:                      #657981,
//   educacao:                     #3abf56,
//   economia:                     #2a8945,
//   esportes:                     #006130,
//   reforma-politica:             #417d62
//   trabalho:                     #6a97b3,
//   adm-publica:                  #5a9ab6,
//   agropecuaria:                 #1a7c7b,
//   previdencia:                  #52c0ca,
//   comunicacao:                  #0d80a0,
//   relacoes-exteriores:          #12b5c4,
//   direito-e-justica:            #1844a3,
//   participacao-e-transparencia: #4f69de,
//   ciencia:                      #6b78dd,
//   direitos-humanos:             #a96085,
//   cultura:                      #c05fba,
// );
