$color-brand: #3b3970;

// e-Democracia default theme colors
$color-documento: #b1b1ba;
$color-adm-publica: #5a9ab6;
$color-agropecuaria: #1a7c7b;
$color-assistencia-social: #5d7f1a;
$color-cidades: #657981;
$color-ciencia: #6b78dd;
$color-comunicacao: #0d80a0;
$color-consumidor: #ef4545;
$color-cultura: #c05fba;
$color-direito-e-justica: #1844a3;
$color-direitos-humanos: #a96085;
$color-economia: #2a8945;
$color-educacao: #3abf56;
$color-esportes: #006130;
$color-familia: #f39a35;
$color-industria: #544e4e;
$color-institucional: #22a23d;
$color-meio-ambiente: #c5db9b;
$color-participacao-e-transparencia: #4f69de;
$color-politica: #b0614f;
$color-previdencia: #52c0ca;
$color-relacoes-exteriores: #12b5c4;
$color-saude: #3c864a;
$color-seguranca: #e6413d;
$color-trabalho: #6a97b3;
$color-transporte-e-transito: #71706a;
$color-turismo: #707a66;
$color-reforma-politica: #417d62;