$font-family-main: 'Roboto', Helvetica, sans-serif;

$font-size-mega: 3.2rem;
$font-size-kilo: 2.4rem;
$font-size-hecto: 1.7rem;
$font-size-deca: 1.4rem;

$font-size-base: 1.2rem;

$font-size-deci: 1rem;
$font-size-centi: 0.9rem;
$font-size-mili: 0.8rem;
