$font-family-main: 'Open Sans', Helvetica, sans-serif;

$font-size-kilo: 3rem;
$font-size-hecto: 2.2rem;
$font-size-deca: 1.5rem;

$font-size-base: 1rem;

$font-size-deci: 0.9rem;
$font-size-centi: 0.7rem;
