{% load staticfiles compress %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Pauta Participativa</title>
    {% compress css %}
      <link type="text/x-scss" rel="stylesheet" href="{% static '/styles/app.scss' %}"/>
    {% endcompress %}
  </head>

  <body>

    <main class="main-content">
      {% block content %}
      {% endblock content %}
    </main>

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}
    {% endblock extra_js %}
  </body>

</html>