{% load staticfiles compress %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Pauta Participativa</title>
    {% compress css %}
      <link type="text/x-scss" rel="stylesheet" href="{% static '/styles/app.scss' %}"/>
    {% endcompress %}

    {% block metatags %}
      <meta property="twitter:card" content="summary" />
      <meta property="twitter:title" content="Pauta Participativa" />
      <meta property="twitter:site" content="@edemocracia" />
      <meta property="twitter:creator" content="@edemocracia" />
      <meta property="twitter:image" content="{{request.scheme}}://{{domain}}{% static 'images/share-image-twitter.jpg' %}" />

      <meta property="og:type" content="article" />
      <meta property="og:title" content="Pauta Participativa" />
      <meta property="og:site_name" content="Pauta Participativa" />

      <meta property="og:description" content="Ao final do período de consulta (2 semanas), a Câmara colocará em pauta os projetos de cada tema que tenham obtido o maior saldo positivo de votos, ou seja, votos favoráveis menos votos contrários. Participe!" />
      <meta property="twitter:description" content="Ao final do período de consulta (2 semanas), a Câmara colocará em pauta os projetos de cada tema que tenham obtido o maior saldo positivo de votos, ou seja, votos favoráveis menos votos contrários. Participe!" />

      <meta property="og:image" itemprop="image" content="{{request.scheme}}://{{domain}}{% static 'images/share-image-facebook.jpg' %}" />
      <meta property="og:image:type" content="image/jpg" />
      <meta property="og:image:width" content="560" />
      <meta property="og:image:height" content="292" />
      <meta property="og:type" content="website" />
    {% endblock metatags %}
  </head>

  <body>

    <main class="main-content">

      {% block content %}
      {% endblock content %}

      {% block modal %}
      {% endblock modal %}

      <span class="tooltip-box JS-tooltip" role="tooltip">Eu sou um tooltip \o/</span>

      <div class="alert-message JS-alert-message {% if messages %}-show -error{% endif %}">
        <p class="JS-alert-text">{% for message in messages %}{{message|safe}} {% endfor %}</p>
        <a class="close JS-alert-close"></a>
      </div>
    </main>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% compress js %}
      <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
      <script src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
      <script src="{% static 'js/utils.js' %}"></script>
      <script src="{% static 'js/modules/alert-message.js' %}"></script>
      <script src="{% static 'js/modules/share.js' %}"></script>
      <script src="{% static 'js/modules/tooltip.js' %}"></script>
      <script src="{% static 'js/modules/cookie.js' %}"></script>
      <script src="{% static 'js/modules/votes.js' %}"></script>
      <script src="{% static 'js/modules/buttons.js' %}"></script>
      <script src="{% static 'js/modules/tabs.js' %}"></script>
      <script src="{% static 'js/modules/scroll.js' %}"></script>
      <script src="{% static 'js/app.js' %}"></script>
    {% endcompress %}

    {% block extra_js %}
    {% endblock extra_js %}
  </body>

</html>