{% load staticfiles compress %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Pauta Participativa</title>
    {% compress css %}
      <link type="text/x-scss" rel="stylesheet" href="{% static '/styles/app.scss' %}"/>
    {% endcompress %}
  </head>

  <body>

    <main class="main-content">

      {% block content %}
      {% endblock content %}

      {% block modal %}
      {% endblock modal %}

      <span class="tooltip-box JS-tooltip" role="tooltip">Eu sou um tooltip \o/</span>

    </main>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% compress js %}
      <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
      <script src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
      <script src="{% static 'js/utils.js' %}"></script>
      <script src="{% static 'js/modules/error.js' %}"></script>
      <script src="{% static 'js/modules/cookie.js' %}"></script>
      <script src="{% static 'js/modules/votes.js' %}"></script>
      <script src="{% static 'js/modules/buttons.js' %}"></script>
      <script src="{% static 'js/modules/tabs.js' %}"></script>
      <script src="{% static 'js/modules/scroll.js' %}"></script>
      <script src="{% static 'js/app.js' %}"></script>
    {% endcompress %}

    {% block extra_js %}
    {% endblock extra_js %}
  </body>

</html>